* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

select {
  position: relative;
  border: none;
  border-bottom: 1px solid #888;
  background-color: #fff;
  font-size: .9em;
  width: 150px;
}

button {
  appearance: none;
  border: none;
  background-color: #6BAB25;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: .9em;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  cursor: pointer;
}
